body {
    font-family: 'Open Sans', sans-serif;
}

/* STYLES NAVIGATION BAR */

.navigation-container {
    background-color: #222;
    padding: 15px;
}

/* centers navigation categories */

ul {
    display: block;
    text-align: center;
    line-height: 50px;
}

/* styles navigation text */
li a {
    display: block;
    text-decoration: none;
    font-size: 18px;
    color: #c78c06;
}


/* FLOAT LOGO */
.logo {
    /* float: left; */
    display: block;
}




/* HOVER */
a:hover {
    background-color: #c78c06;
    color: #222;
}

.home-button a:hover {
   /* padding-top: 20% */
}

/* adds flex to search bar */
.search-bar {
    display: flex;
    padding-bottom: 8px;
}

/* widens search bar */
.search-bar input {
    flex-grow: 1;
}

/* sizes and colors search icon */
.fa-search {
    color: #c78c06;
    border: 1px solid #c78c06;
    padding: 10px;
}

/****** PAGE TWO ******/

.welcome-container {
    background-image: url(/final_project/images/main-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;  
    padding-top: 60px;
    padding-bottom: 25px;
}

.welcome-information {
    display: block;
    background: rgba(0, 0, 0, 0.6);
    padding: 60px 15px; 

}

.welcome-title {
    color: white;
    font-size: 60px;
    font-weight: bold;
    line-height: 140%;
    padding-bottom: 20px;
}

.welcome-paragraph {
    color: white;
    padding-bottom: 10px;
    line-height: 20px;
    font-size: 14px;
}

.connect-button {
    padding: 30px;
    font-size: 20px;
    border: none;
    background-color: #c78c06;
    text-decoration: none;
}

.fa-play {
    padding-left: 10px;
}

/****** PAGE THREE ******/

.about-us-container {
    display: block;
    background-color: #ffe6ac;
    padding: 15px;
}

.about-us-title {
    font-weight: 700;
    font-size: 3rem;
    padding-bottom: 30px;
}

.about-us-image {
    display: block;
    width: 100%;
    padding-bottom: 30px;
}