/************************** MOBILE **************************/

/* SETS FONT TYPE FOR ENTIRE PAGE */ 
body {
    font-family: 'Open Sans', sans-serif;
    
}

/* ADDS PADDING TO ALL ARROW BUTTONS */
.fa-play {
    padding-left: 10px;
}

/* STYLES NAVIGATION BAR */

.navigation-container {
    background-color: #222;
    padding: 15px;
}

/* centers navigation categories */

ul {
    display: block;
    text-align: center;
    line-height: 50px;
}

/* styles navigation text */
li a {
    display: block;
    text-decoration: none;
    font-size: 18px;
    color: #c78c06;
}


/* FLOAT LOGO */
.logo {
    /* float: left; */
    display: block;
}

/*******************************************************************/

/* HOVER */
a:hover {
    background-color: #c78c06;
    color: #222;
}

/* .home-button a:hover { 
     padding-top: 20%
 } */

/* ADDS FLEX & SIZES SEARCH BOX */
.search-bar {
    display: flex;
    padding-bottom: 8px;
}

/* SIZES SEARCH BOX TO CONTAINER */
.search-bar input {
    flex-grow: 1;
}

/* SIZES & COLOURS SEARCH BUTTON ICON */
.fa-search {
    color: #c78c06;
    border: 1px solid #c78c06;
    padding: 10px;
}

/***************** WELCOME PAGE *****************/

/* SETS AND SIZES BACKGROUND IMAGE */
.welcome-container {
    background-image: url(/images/main-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;  
    padding-top: 60px;
    padding-bottom: 25px;
   
}

/* SETS AND SIZES CONTAINER HOLDING THE TEXT */
.welcome-information {
    display: block;
    background: rgba(0, 0, 0, 0.6);
    padding: 60px 15px; 

}

/* SIZES TITLE */
.welcome-title {
    color: white;
    font-size: 60px;
    font-weight: bold;
    line-height: 140%;
    padding-bottom: 20px;
}

/* SIZES LOREM PARAGRAPH */
.welcome-paragraph {
    color: white;
    padding-bottom: 10px;
    line-height: 20px;
    font-size: 14px;
}

/* SIZES AND CUSTOMIZES CONNECT BUTTON */
.connect-button {
    padding: 30px;
    font-size: 20px;
    border: none;
    background-color: #c78c06;
    text-decoration: none;
}

/***************** ABOUT US PAGE *****************/

/* SETS AND SIZES CONTAINER */
.about-us-container {
    display: block;
    background-color: #ffe6ac;
    padding: 15px;
}

/* SIZES TITLE */
.about-us-title {
    font-weight: 700;
    font-size: 3rem;
    padding-bottom: 30px;
}

/* SIZES & POSITIONS IMAGE */
.about-us-image {
    display: block;
    margin: auto;
    width: 100%;
    padding-bottom: 30px;
}

/* SIZES LOREM TEXT */
.about-us-text {
    line-height: 20px;
    font-size: 14px;
    font-weight: 500;
}

/* ADDS PADDING TO EACH PARAGRAPH */
.p-1 {
    padding-bottom: 15px;
}

.p-2 {
    padding-bottom: 15px;
}

/***************** SERVICES PAGE *****************/

/* SIZES TITLE */
.services-title {
    font-size: 3rem;
    font-weight: 700;
    padding-top: 25px;
    padding-bottom: 25px;
}

/* SIZES CONTAINER */
.services-container {
    display: block;
    padding: 20px 15px;
}

/* ALL UNDER ONE CONTAINER */
/* SETS BACKGROUND COLOR*/
.service-one, .service-two, .service-three, .service-four, .service-five {
    display: block;
    background-color: #ffe6ac;
}

/* POSITIONS AND SIZES IMAGES */
.service-images{
    display: block;
    margin: auto;
    width: 100%;

}

/* ADDS PADDING */
.service-information {
    padding: 20px;
}

/* SIZES TITLES */
.service-information h3 {
    padding-top: 15px;
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 2rem;
}

/* SIZES LOREM */
.service-information p {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding-bottom: 20px;
}

/* SIZES AND POSITIONS BUTTONS */
.service-button {
    background-color: #222;
    color: white;
    padding: 30px;
    font-size: 20px;
}

/***************** VISION PAGE *****************/

/* SETS & POSITIONS BACKGROUND IMAGE */
.vision-container {
    background-image: url(/final_project/images/vision.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    color: white;
}

/* ADDS PADDING */
.vision-information {
    padding: 15px;
}

/* SIZES LOREM */
.vision-information p {
    line-height: 20px;
    font-size: 14px;
    padding-bottom: 20px;
}

/* SIZES TITLE */
.vision-title {
    font-weight: 700;
    font-size: 2rem;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* SIZES AND CUSTOMIZES BUTTON */
.vision-button {
    color: white;
    background: rgba(0, 0, 0, 0.6);
    padding: 35px;
    font-size: 20px;
    border: 1px solid #c78c06;
}

/***************** TEAM PAGE *****************/

/* SIZES AND ADDS PADDING TO TEAM TITLE */
.team-title {
    font-weight: 700;
    font-size: 3rem;
    padding-top: 30px;
    padding-bottom: 20px;
}

/* ADDS PADDING TO CONTAINER WITH TEAM MEMBER INFORMATION */
.team-container {
    padding: 10px;
}

/* ADDS BACKGROUND COLOUR TO TEAM BOXES */
.team-one, .team-two {
    background-color: #ffe6ac;
}

/* SIZES AND CENTERS IMAGES OF TEM MEMBERS */
.photo-one, .photo-two {
    display: block;
    margin: auto;
    width: 100%;
}

/* ADDS PADDING TO BOXES WITH TEAM INFORMATION */
.team-info {
    padding: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* SIZES AND ADDS PADDING TO TEAM MEMBER NAMES */
.team-info h3 {
    font-weight: 700;
    font-size: 2rem;
    padding-bottom: 10px;
    
}

/* MODIFIES FONT WEIGHT OF TEAM MEMBER TITLES */
.team-info h4 {
    font-weight: 700;
}

/* MAKES HR LINE THICKER AND ADDS COLOR */
hr {
    border: 1px solid #c78c06;
}

/* SIZES AND AJUSTS LINE HEIGHT OF TEAM INFO PARAGRAPHS */
.team-info p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

/***************** CONTACT PAGE *****************/

/* ADDS PADDING AROUND ENTIRE CONTAINER WITH CONTACT INFO */
.contact-container {
    padding: 15px;
}

/* SIZES, ADDS WEIGHT AND PADDING TO CONTACT TITLE */
.contact-us-title {
    font-weight: 700;
    font-size: 3rem;
    padding-top: 50px;
    padding-bottom: 30px;
}

/* SIZES, ADDS WEIGHT AND PADDING TO MESSAGE SUBHEADING */
.contact-form h2 {
    font-weight: 700;
    font-size: 2rem;
    padding-bottom: 20pt;
}

/* SIZES AND POSITIONS FORM INPUT BOXES */
input {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    font-weight: 500;
    box-sizing: border-box;
}

/* SIZES AND POSITIONS MESSAGE BOX */
textarea {
    box-sizing: border-box;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 20px;
    padding: 60px;
}

/* ADDS PADDING IN BETWEEN EACH INPUT BOX */
.form-section {
    padding-bottom: 10px;
}

/* ADDS FONT WEIGHT TO FORM TEXTS */
.form {
    font-weight: 500;
    
}

/* SIZES AND COLORS CONTACT BUTTON */
.contact-button {
    background-color: #222;
    color: #c78c06;
    font-weight: 500;
    font-size: 25px;
}

/****** HOURS OF OPERATIONS PAGE ******/

/* ADDS PADDING TO CONTACT CONTAINER */
.hours-container {
    padding: 15px;
}

/* SIZES, ADDS WEIGHT AND PADDING TO CONTACT TITLE */
.hours-container h2 {
    font-weight: 700;
    font-size: 2rem;
    padding-bottom: 15px;
}

/* CREATES TABLE WITH BORDER AND PADDING */
table, tr, td, th {
    border: 1px solid black;
    padding: 20px;
    font-weight: 500;

}

/* ADDS BACKGROUND COLOR TO DAYS AND HOURS CATEGORY */
th {
    background-color: #ffe6ac;
}

/* SIZES ENTIRE TABLE */
table {
    width: 100%;
}

/****** LOCATION PAGE ******/

/* ADDS PADDING TO LOCATION CONTAINER */
.location-container {
    padding: 15px;
}

/* SIZES, ADDS WEIGHT AND MARGIN TO LOCATION TITLE */
.location-container h2 {
    font-weight: 700;
    font-size: 2rem;
    padding-bottom: 20px;
}

/* SIZES AND CENTERS MAP */
iframe {
    display: block;
    margin: auto;
    width: 100%;
}

/****** FOOTER ******/

/* CHANGES BACKGROUND COLOR */
footer {
    background-color: #222;
}

/* COLORS AND ADDS PADDING TO FOOTER PARAGRAPHS */
.footer-text {
    padding-left: 15px;
    padding-top: 25px;
    color: #c78c06;
}

/* CHANGES FONT SIZE AND ADDS MORE PADDING */
.footer-text p {
    padding-bottom: 20px;
    font-size: 14px;
}

/* CHANGES VISITED FOOTER LINK TO REMAIN THE SAME COLOR AS TEXT */
.footer-link a:visited {
    color: #c78c06;
}

/* CHANGES HOVER BACKGROUND COLOR AND FONT COLOR */
.footer-link a:hover {
    background-color: #c78c06;
    color: white;
}

/************************** DESKTOP **************************/

@media screen and (min-width: 760px) {
    
    /* ALIGNING NAVIGATION BAR */
   
    .nav-bar li {
        float: left;
    }

    .nav-bar a {
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .navigation-container {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 100px;
        padding-right: 100px;
        display: block;
    }

    .search-bar {
        margin-top: 10px;
        width: 15%;
        
    }

    .fa-search {
        margin-top: 10px;
    }

   .logo {
    display: block;
    width: 60%;
    padding-right: 50px;
   }

   /***************** WELCOME PAGE *****************/

   /* SIZES BACKGROUND IMAGE */
   .welcome-container {
    background-position: center;
    height: 600px;
   }

    /* SIZES TEXT BOX INFORMATON */
   .welcome-information {
    height: 450px;
    margin-left: 8%;
    margin-right: 8%;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
   }

   /* RE-SIZES WELCOME TITLE AND ADJUSTS RIGHT PADDING */
   .welcome-title {
    font-size: 6rem;
    padding-right: 20%;
   }

    /* RE-SIZES WELCOME PARAGRAPH AND ADJUSTS BOTTOM PADDING */
   .welcome-paragraph {
    font-size: 1rem;
    padding-bottom: 20px;
    padding-top: 20px;
    line-height: 25px;
   }

   /* RE-SIZES CONNECT BUTTON WITH FONT SIZE AND PADDING */
   .connect-button {
    font-size: 1.5rem;
    padding: 40px 40px;
   }

   /***************** ABOUT US PAGE *****************/

   
}