/* changes font family and font size to 18px */
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px
}

/* adds background colour to header and footer */
header, footer {
    background-color:#273043;
}

/* class selector - changes colour of main heading of site */
.important {
    color:white;
}

/* adds extras to id my-image */
#my-image {
    box-shadow: 0px 0px 2px 1px black
}

/* changes ul from bullets to squares */
li {
    list-style-type: square;
}

/* nth child selector - adds background to odd list items of hobby list */
li.hobby-item:nth-child(odd) {
    background-color: #748386;
}

/* removes bullets from nav ul */
nav ul li {
    list-style-type: none;
}

/* removes underlines from links */
a {
    text-decoration: none;
}

/* adds background and border to links */
a {
    background-color: #EFF6EE;
    border-style: dashed;
}

/* changes background colour on hover & focus state of links */
a:hover {
    background-color: #748386;
}

a:focus {
    background-color: #DA9F93;
}