/* sets up backgound color and layout */
body {
    background-color: #aad4cf;
    box-sizing: border-box;
    margin: auto;
    width: 70%;
}

/* sizes & places header header image & text */
.banner {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    position: absolute;
}