/* sets up basic backgound color, layout and sizing */
body {
    background-color: #aad4cf;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: auto;
    width: 70%;
}

main {
    background-color: #C3E9E5;
    margin: auto;
    padding: 10px;
}

footer {
    background-color: #C3E9E5;
}

/* sizes & positions banner image */
.banner {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    width: 100%;
}

/* sizes & positions main heading title */
h1 {
    color: white;
    font-family: arial;
    font-size: 50px;
    position: absolute;
    width: 100%;
    top: 60%;
}

/* overlays main heading title over top banner image */
.top {
    position: relative;
    text-align: center;
}

/* sets nav bar background color */
nav {
    background-color: #C3E9E5;;
}

/* aligns nav bar vertically */
ul {
    text-align: center;
}

/* aligns nav bar to align horizontally */
.nav-item {
    display: inline;
    
}

/* adds divders in nav bar */
.bar {
    border-right: 1px solid black;
}

/* customizes stylistic appearance of nav bar */
ul a {
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 10px;
    margin-bottom: 25px;    
}

/* sizes & positions h2 */
h2 {
    font-size: 25px;
    margin-bottom: 10px;

}

/* sizes & positions image of lone starfish */
.main-img {
    margin-right: 15px;
    margin-bottom: 20px;
    max-width: 100%;
    height: auto;
    width: 15%;
    float:left;
}

/* positions text beside image */
p {
    margin-right: 20px;
    line-height: 1.5;
    font-size: 15px;
    margin-bottom: 20px;
}

/* sizes and positions h3 for facts section*/
.facts-header {
    font-size: 20px;
    margin-bottom: 15px;
}

/* sticks facts list to the left of page */
.facts-list {
    float: left;
}

/* creates space between facts and contact */
.facts {
    margin-bottom: 20px;
    
}

/* positions and sizes items in fact list */
.fact-item {
    list-style-type: none;
    float: left;
    font-size: 15px;
    margin-left: 10px;
    padding-right: 50px;
}

/* changes white bullets to black bullets in the facts list */
ul .fact-item::before {
    content: "\2022";
    color: black;
    font-weight: bold;
    display: inline-block;
    width: 1.5em;
    margin-left: -1em;
}

/* clearfix */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* sizes & positions h3 for contact form */
.contact {
    font-size: 20px;
    margin-bottom: 10px;
}

/* sizes form boxes */
input[type=text] {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

/* sizes form box for comments */
textarea {
    width: 100%;
    padding: 30px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

/* sizes h4 question for radio section of form */
.contact-option {
    margin-top: 10px;
    margin-bottom: 20px;
}

/* adds margin spacing to bottom of radio options of form */
.options {
    margin-bottom: 15px;
}

/* customizes button */
.button {
    background-color: transparent;
    text-transform: uppercase;
    font-size: 10px;
    padding: 10px;
    display: inline-block;
    text-align: center;
    border: 1px solid black;
    margin-bottom: 10px;
}

/* sets border outline to form */
fieldset {
    display: block;
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
}

/* aligns footer copyright to left of page */
footer {
    text-align: right;
}

/* adjusts copyright text */
.copyright {
    font-size: 12px;
    padding-bottom: 15px;
    padding-top: 10px;
}





